html{
    scroll-behavior: smooth; 
    font-family: canada-type-gibson, sans-serif;
    font-weight: 400;
    font-style: normal;
}

$leftgrad: #FBB03B;
$rightgrad: #FEEC68;
$accent: #B53E25;
$accentdark: #4F140A;
$myshadow: -3px 3px 5px rgba(0, 0, 0, 0.2);

body {
    background-color: #FFF8B6;
    background-image: linear-gradient(to right, rgba($leftgrad, 1), rgba($rightgrad, 1));
}
.mynavbar {
    border-radius: 25px 0px 0px 25px!important;
    margin: 10px 0px 0px 30%;
    position: fixed;
    z-index: 5;
    width: 70%;
    box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.2);
    z-index: 6;
}

ul.navbar-nav li.dropdown:hover .myddmenu {
    display: block;
}

.mydropdown {
    // width: 160px;
}

.myddmenu {
    border: none;
    background-color: #F8F9FA;
}

.myddmenu a:hover {
    background-color: #ddd;
}

.navblur::after{
    content: "";
    width: 100vw;
    height: 75px;
    filter: blur(30px);
    position: fixed;
    display: block;
    z-index: 5;
    background-image: linear-gradient(to right top, rgba($leftgrad, 0) , rgba($rightgrad, 1)), linear-gradient(to left top, rgba($rightgrad, 0) , rgba($leftgrad, 1))
}

.mycarousel {
    height: 90vh;
    padding: 7vh 0;
}

.mycarousel img {
    width: auto !important;
    max-height: 80vh !important;
    margin: auto;
}

.mycarcaption {
    // color: #144A9B;
    margin: 20px;
}

.myrow {
    margin: 0px !important;
    padding: 70px 0px 0px 0px;
}

// start eras styling ------->

.erasnav {
    position: fixed;
    border-left: 3px solid #fff;
    height: 80vh;
    width: 100%;
    color: #fff;
    margin: 5vh;
    padding: none !important;
}

.erasnav ul {
    padding: 25px 0px;
}

.erasnav li {
    box-shadow: 2px;
    list-style-type: none;
    height: 10vh;
    font-size: .85rem;
}

.erasnav a {
    color: #fff;
    transition: .3s ease-in-out;
}

.erasnav a:hover {
    transition: .3s ease-in-out;
    text-decoration: none;
    filter: brightness(.4);
    font-size: 16px;
}

.tlcontent {
    max-width: 1000px;
}

.spacercol {
    max-width: 1px;
    margin: 0px 100px;
}

  /* Timeline holder */
ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
    margin-top: 50px
}

 /* Timeline vertical line */
ul.timeline:before {
    content: ' ';
    background: #fff;
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    z-index: 1;
    border-radius: 1rem;
}

// spaces elements from top of page when linking with anchors
.spacer {
    display: block;
    height: 100px;
    width: 0px;
    margin-top: -100px;
    visibility: hidden;
}

li.timeline-item {
    margin: 20px 0px;
    padding: 1.5rem;
}

/* Timeline item arrow */
.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid #fff;
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: -.5rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
    content: ' ';
    background: #ddd;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    left: -29px;
    width: 14px;
    height: 14px;
    z-index: 2;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.explore {
    position: static !important;
    width:100%;
    text-align: right;

    transition: .3s ease-in-out;
    color: $accent;

    &:hover {
        color: $accentdark;
        transition: .3s ease-in-out;
        text-decoration: none;
        
    }
}

// end eras styling ------>

.abtcontainer {
    width: 100%;
    height: 500px;
    border-radius: 25px;
    background-color: #fff;
    margin: 50px 0px;
    padding: 50px
}

// start explore_pages ---------->

.box-accent {
    width: 300px;
    height: auto;
    background-color: #F8F9FA;
    box-shadow: $myshadow;
    padding: 1rem;


    &::after {
        content: "";
        z-index: -1;
        background-color: $accent;
        position: absolute;
        left: -10px;
        top: -20px;
        height: 100%;
        width: 300px;
        box-shadow: $myshadow;
        margin: auto;   
    }
}

.more-resources {
    width: 90%
}


// end explore_pages ---------->